/* UserDashboard.css */

.dashboardContainer {
    margin: 20px;
  }
  
  .userInfo {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
  }
  
  .ordersList {
    max-height: 500px;
    overflow-y: auto;
    margin-top: 10px;
  }
  
  .heading {
    margin: 0 0 10px;
  }
  