.button {
  background: #4a96ff;
  height: 43px;
  border-radius: 4px;
  width: 111px;
  border: none;
  cursor: pointer;
}
.buttonDisabled {
  opacity: 0.5;
}

.buttonText {
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: left;
  color: #ffffff;
}
.buttonTextSmall {
  font-size: 14px;
}
