.skeleton {
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: inherit;
}

.skeleton::before {
  animation: pulse 1.5s infinite ease-in-out;
  background-color: rgb(222, 226, 230);
  border-radius: inherit;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.addBorderRadius {
  border-radius: 6px;
}
@keyframes pulse {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
