.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.count {
  text-decoration: none;
  color: rgb(87, 83, 78);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.countOnCart {
  width: 50px;
  align-self: center;
  text-align: center;
  font-size: 24px;
}
